
body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

