
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url('pic-11.jpg');
    background-size:contain;
    background-position:center;
    color: rgb(20, 19, 19);
}

header {
    background-color: rgba(227, 255, 11, 0.53);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: rgba(244, 244, 244, 0.5);
}

h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1px;
}

.project {
    background-color: rgba(244, 244, 244, 0.5);
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: rgba(170, 255, 0, 0.5);
    text-align: center;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
